{% extends 'base.html.twig' %}

{% block title %}Gérer mon profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/create-user.css') }}">
{% endblock %}

{% block main %}
    <h2 id="user-profile-title">Gérer mon profil</h2>

    <section id="user-form">
        <img id="profileImage" src="{{ asset('assets/avatars/' ~ user.profileImage) }}" alt="">
        {% include "inc/user-data-form.html.twig" %}
        {% if app.flashes('success') %}
            <div class="alert alert-success">
                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endblock %}