
@media screen and (min-width: 1350px) {
    #profileImage{
        width: 400px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: #04AA6D solid 4px;
        object-fit: cover;
    }
    #profile-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    table {
        margin-left: 50px;
        height: 0;
        font-size: 18px;
    }

    td {
        padding: 10px;
        width: auto;

    }
    #user-profile-title{
width: 100%;
        text-align: center;
        font-weight: 650;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    #profileImage{
        width: 70vw;
        border-radius: 50%;
        border: #04AA6D solid 4px;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
    #profile-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    table {
        margin-left: 10px;
        height: 0;

    }

    td {
        padding: 10px;
        width: auto;

    }
}