
@media screen and (min-width: 1350px) {
    #profileImage{
        width: 400px;
        border-radius: 50%;
        border: #04AA6D solid 4px;
    }
    #profile-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    table {
        margin-left: 50px;
    }

    td {
        padding: 10px;
        width: auto;

    }

}

@media screen and (max-width: 500px) {
    #profileImage{
        width: 70vw;
        border-radius: 50%;
        border: #04AA6D solid 4px;
    }
    #profile-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    table {
        margin-left: 10px;

    }

    td {
        padding: 10px;
        width: auto;

    }
}