{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/create-user.css') }}">
{% endblock %}

{% block title %}Créer nouveau profil{% endblock %}
{% block main %}
    <h2 id="user-profile-title">Créer nouveau profil</h2>

<section id="user-form">
    <img id="profileImageNew" src="" alt="">
    {{ include('inc/user-data-form.html.twig', [{'button_label': 'Créer nouveau profil'},{'button_label': ''}]) }}
</section>
    <a href="{{ path('admin_page') }}">back to list</a>
{% endblock %}
    {% block scripts %}
{#        <script src="{{ asset('scripts/home-page.js') }}"></script>#}
    {% endblock %}