{% extends 'base.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Annuler</a>
{% endblock %}

