{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Accueil{% endblock %}
{% block main %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae cumque est ex fuga libero,
        nihil nobis optio placeat quasi quidem quos totam! Aliquam nostrum quod vero voluptates voluptatum.</p>
{% endblock %}